.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

.offcanvas-body {
    overflow: visible !important;
}

.offcanvas {
    overflow: visible !important;
}

#lista {
  li {
    border: 2px solid #757575;
    border-radius: 0.5rem;
  }
}